* {
    box-sizing: border-box;
}
.window {
    border: 1px solid;
    border-top: none;
    width: 300px;
    display: none;
    font-family: monospace;
    font-size: 14px;
    user-select: none;
    margin-bottom: 10px;
    overflow: hidden;
}
.window .inner {
    border: 1px solid;
    height: 250px;
    margin: 4px;
    margin-top: 0;
    overflow: hidden;
}
.window .panel {
    position: relative;
    background-repeat: repeat-x;
}
.window .panel .left {
    position: absolute;
}
.window .panel .button {
    position: absolute;
}
.window .panel .close {
    position: absolute;
    /* border: 1px dotted red; */
}
.window .panel .min {
    position: absolute;
    /* border: 1px dotted red; */
}

.window .panel .title {
    position: absolute;
    left: 5px;
    top: 4px;
    text-wrap: nowrap;
    /* font-weight: bold; */
}
.window button {
    background: white;
    color: #000;
    padding: 3px;
    margin: 5px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    min-height: calc(100vh - 392px);
    margin: auto;
    flex-wrap: wrap;
}
select {
    padding: 5px;
}
